body {
  background: #e8e7e7; 
  font-family: arial;
  text-transform: uppercase;
}

.with-margin {
  margin-bottom: 5px;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
